.main{
    height: 44px;
    width: 44px;
    position: relative;
    z-index: 3;
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;
}
.filterContentDiv{
    width: Hug (289px);
height: Hug (421px);
gap: 20px;

}

.modalDiv {
    width: 353px;
    height: 557px;
    padding: 24px, 32px, 32px, 32px !important; 
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: white;
    gap: 32px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60px;
    right: 0;
    opacity: 1;
    transition: 1s;
}
.modalHide{
    opacity: 0;
}

.filterTitleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
     width: 289px;
    height: 33px;

}

.filterTitle {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.resetBtn {
    width: auto;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(147, 147, 147, 1);
}