

.main{
    width: 293px;
height: 44px;
padding: 10px ;
border-radius: 8px;
border: 1px solid rgba(0, 0, 0, 1);
gap: 10px;
display: flex;
}
.input{
    width: 100%;
    font-family: Nunito;
font-size: 16px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
border: none;
outline: none;
background-color: transparent;

}